<div class=" sw_background ">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 sw-logo-container">
					<div class="right-align"><div class="sw_logo"></div></div>
					<h2 class="sw_text">Welcome To All</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="login-container">
						<div>
							<div class="right-align"><input type="text" ng-model="name"></div>
							<div class="left-align">UserName</div>
							
						</div>
						<div>
							<div class="right-align"><input type="password" ng-model="passcode"></div>
							<div class="left-align">Passcode</div>
						</div>
						<div class="center-align">
							<btn class="btn btn-primary" ng-click="logInCheck()">Log In</btn>
						</div>
					</div>
				</div>
			</div>
		</div>
		

</div>